<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naruto Themed Game</title>
    <link href="styles.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="container text-center">
        <h1 class="my-4">Naruto Memory Game</h1>
        <button id="play-music">Play Music</button>
        <audio id ="background-music" loop>
            <source src="song.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <p class="flip-counter">Flips: {{ flipCount }}</p> <!-- Display flip count -->
        <div class="game-board">
            <div v-for="(card, index) in cards" :key="index" class="game-card" @click="flipCard(index)">
                <img v-if="card.flipped" :src="card.image" class="card-image">
            </div>
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('play-music').addEventListener('click', function() {
            var music = document.getElementById('background-music');
            if (music) {
                music.play();
            }
        });
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
